## get connected to MySQL

In [117]:
import peewee
import pymysql

db = peewee.MySQLDatabase('db_test',
                          user='root',
                          host='localhost',
                          password='root5438',
                          port=3306)

### Fetching car_id from m01_all ( 00 hours only )

In [2]:
import pymysql.cursors
import codecs

try :
    with db.cursor() as cursor:
            # Read a single record
            sql =   """
                    select UniqueSequence
                    FROM db_tdcs.m01_all
                    group by UniqueSequence;
                    
                    """
            cursor.execute(sql)
            result = cursor.fetchall()
            #print(result_statistic)
finally:
    db.close()

###  Fetching car_id from m01_all_total ( 00-23 hours )

In [ ]:
import pymysql.cursors
import codecs

try :
    with db.cursor() as cursor:
            # Read a single record
            sql =   """
                    select UniqueSequence
                    FROM db_tdcs.m01_all
                    group by UniqueSequence;
                    
                    """
            cursor.execute(sql)
            result = cursor.fetchall()
            #print(result_statistic)
finally:
    db.close()

In [45]:
#result

In [11]:
type(result)

tuple

In [5]:
len(list(result))

39663

In [8]:
cars = []

for car in list(result):
    cars.append(list(car)[0])

##  keep SQL from the result

In [14]:
import pymysql.cursors
import codecs

cars_dict = {}

for car_num in range(len(cars)) :
    

    try :
        with db.cursor() as cursor:
                # Read a single record
                sql =   """
                        select *
                        FROM db_tdcs.m01_all
                        where UniqueSequence = "{0}"
                        order by Date_Time;

                        """.format(cars[car_num])
                cursor.execute(sql)
                cars_dict["result_{0}".format(car_num)] = cursor.fetchall()
                #print(result_statistic)
    finally:
        db.close()

### save the result(all of the travel times generate by cars) into json file

In [20]:
import json
 

cars_json = json.dumps(cars_dict)
f = open("C://Users//Administrator//Documents//code//data//data_TDCS//cars_dict.json","w")
f.write(cars_json)
f.close()

#### checking the results

In [44]:
import pprint
#pprint.pprint(cars_dict)

In [43]:
#cars_dict.keys()

In [21]:
len(cars_dict.values())

39663

In [116]:
#cars_dict.values()[11]

### making a defined travel times list ( for first and last records only )

In [39]:
car_travel_list = []
each_travel_dict = {}

for each_num in range(len(cars_dict.values())):
    
    travel_times = list(cars_dict.values()[each_num])
    car_travel_list = []
    car_travel_list.append(travel_times[0])
    car_travel_list.append(travel_times[len(travel_times)-1])
    
    
    each_travel_dict['{0}'.format(cars_dict.keys()[each_num])] = car_travel_list
    
    
        
    #print travel_times

#### write into json file

In [41]:
cars_travel_json = json.dumps(each_travel_dict)
f = open("C://Users//Administrator//Documents//code//data//data_TDCS//cars_travel2_dict.json","w")
f.write(cars_travel_json)
f.close()

In [42]:
#pprint.pprint(each_travel_dict)

#### do some calculations on the Date_Time field

In [115]:
#each_travel_dict.values()[11]

In [92]:
first_time = each_travel_dict.values()[11][0][3]
last_time = each_travel_dict.values()[11][1][3]

In [93]:
print (last_time.encode('utf-8'), first_time.encode('utf-8'))

('2017-11-15 00:17:49', '2017-11-15 00:14:33')

In [51]:
type(last_time.encode('utf-8'))

str

%b Month as locale’s abbreviated name(Jun)

%d Day of the month as a zero-padded decimal number(1)

%Y Year with century as a decimal number(2015)

%I Hour (12-hour clock) as a zero-padded decimal number(01)

%M Minute as a zero-padded decimal number(33)

%p Locale’s equivalent of either AM or PM(PM)

In [94]:
from datetime import datetime

fmt = '%Y-%m-%d %H:%M:%S'

d1 = datetime.strptime(first_time.encode('utf-8'), fmt)
d2 = datetime.strptime(last_time.encode('utf-8'), fmt)

In [95]:
(d2-d1).seconds

196

In [106]:
round(float((d2-d1).seconds/60.0), 1)

3.3

## process the result and save into csv

### define some function

In [ ]:
def turn_dict_result_into_list(dictionary):

In [107]:
def write_to_needed_dataframe(TravelsDictionary):
    all_records = []
    for dict_num in range(len(TravelsDictionary.keys())):
        one_record = []
        one_record.append(TravelsDictionary.values()[dict_num][0][0]) # car_id
        one_record.append(TravelsDictionary.values()[dict_num][0][4]) # car_type
        one_record.append(TravelsDictionary.values()[dict_num][0][1]) # first_gantry
        one_record.append(TravelsDictionary.values()[dict_num][0][3]) # first_time
        one_record.append(TravelsDictionary.values()[dict_num][1][1]) # last_gantry
        one_record.append(TravelsDictionary.values()[dict_num][1][3]) # last_time
        
        first_time = TravelsDictionary.values()[dict_num][0][3]
        last_time = TravelsDictionary.values()[dict_num][1][3]
                
        fmt = '%Y-%m-%d %H:%M:%S'

        d1 = datetime.strptime(first_time.encode('utf-8'), fmt)
        d2 = datetime.strptime(last_time.encode('utf-8'), fmt)
        
        time = round(float((d2-d1).seconds/60.0), 1) # unit = minutes
        one_record.append(time) # (d2-d1)time
        
        all_records.append(one_record)
    
    return all_records

In [108]:
test_list = write_to_needed_dataframe(each_travel_dict)

In [114]:
#test_list

In [110]:
import pandas as pd

columns = ['car_id', 'car_type', 'first_gantry', 'first_time', 'last_gantry', 'last_time', 'time']
df = pd.DataFrame(test_list, columns = columns)

In [113]:
#df

In [112]:
#nn_df.to_csv('C://Users//Administrator//Documents//code//data//DTP_D4//altered_g4data2.csv',columns = columns , index=False , header = True,sep=',',encoding='utf-8')
df.to_csv('C://Users//Administrator//Documents//code//data//data_TDCS//m01_20171115.csv',columns = columns , index=False , header = True,sep=',',encoding='utf-8')