In [1]:
import peewee
import pymysql

db = peewee.MySQLDatabase('db_test',
                          user='root',
                          host='localhost',
                          password='root5438',
                          port=3306)

In [2]:
import pymysql.cursors
import codecs

try :
    with db.cursor() as cursor:
            # Read a single record
            sql =   """
                    select count(*)
                    FROM db_tdcs.m01_all_total ;
                    
                    
                    """
            cursor.execute(sql)
            result = cursor.fetchall()
            #print(result_statistic)
finally:
    db.close()

In [3]:
result

((15313859,),)

In [ ]:
for car in list(result):
    cars.append(list(car)[0])

In [ ]:
import pymysql.cursors
import codecs

cars_dict = {}

for car_num in range(len(cars)) :
    

    try :
        with db.cursor() as cursor:
                # Read a single record
                sql =   """
                        select *
                        FROM db_tdcs.m01_all
                        where UniqueSequence = "{0}"
                        order by Date_Time;

                        """.format(cars[car_num])
                cursor.execute(sql)
                cars_dict["result_{0}".format(car_num)] = cursor.fetchall()
                #print(result_statistic)
    finally:
        db.close()