#### get connected and run SQL ( took a long time , about one day and a half )

In [2]:
import peewee
import pymysql

db = peewee.MySQLDatabase('db_test',
                          user='root',
                          host='localhost',
                          password='root5438',
                          port=3306)

In [3]:
import pymysql.cursors
import codecs

try :
    with db.cursor() as cursor:
            # Read a single record
            sql =   """
                    select UniqueSequence
                    FROM db_tdcs.m01_all_total
                    group by UniqueSequence;
                    
                    """
            cursor.execute(sql)
            result_total = cursor.fetchall()
            #print(result_statistic)
finally:
    db.close()

In [7]:
len(list(result_total))

1742846

#### save into file

In [12]:
cars = []
for i in list(result_total):
    cars.append(list(i)[0])
    #print list(i)[0]

In [21]:
import codecs
with codecs.open('C://Users//Administrator//Documents//code//data//data_TDCS//m01_cars_list.txt', 'w') as f :
    f.write("%s"%cars)

#### package ast : Abstract Syntax Trees
The ast module helps Python applications to process trees of the Python abstract syntax grammar. The abstract syntax itself might change with each Python release; this module helps to find out programmatically what the current grammar looks like.
##### ast.literal_eval()
I turn string read from file (its type is string, but its plattern is a list) into a list, using the above packages' method

In [34]:
import json
import ast
with codecs.open('C://Users//Administrator//Documents//code//data//data_TDCS//m01_cars_list.txt', 'r')as f :
    test_file = f.read().encode('utf-8')
    #test_list = json.loads(test_file)
    test_list = ast.literal_eval(test_file)
    print type(test_list)#[0]

<type 'list'>

In [37]:
test_list[100].encode('utf-8')

'00038a19e05a9e62d14d10dedd6a2efa'

In [15]:
type(cars[1])

unicode

In [38]:
cars_list = test_list

##### next SQL (perhaps it will take plenty of time too...)

In [ ]:
import pymysql.cursors
import codecs

cars_dict = {}

for car_num in range(len(cars_list)) :
    

    try :
        with db.cursor() as cursor:
                # Read a single record
                sql =   """
                        select *
                        FROM db_tdcs.m01_all_total
                        where UniqueSequence = "{0}"
                        order by Date_Time;

                        """.format(cars_list[car_num])
                cursor.execute(sql)
                cars_dict["result_{0}".format(car_num)] = cursor.fetchall()
                #print(result_statistic)
    finally:
        db.close()