In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C://Users//Administrator//Documents//code//data//resting_agent//TRIP_utf8.txt', encoding='utf-8', low_memory=False, sep='\t', na_filter= None)

In [7]:
!pip install xlrd

Collecting xlrd
  Downloading https://files.pythonhosted.org/packages/07/e6/e95c4eec6221bfd8528bcc4ea252a850bffcc4be88ebc367e23a1a84b0bb/xlrd-1.1.0-py2.py3-none-any.whl (108kB)
Installing collected packages: xlrd
Successfully installed xlrd-1.1.0

You are using pip version 9.0.3, however version 10.0.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [8]:
import xlrd

In [9]:
car_df = pd.read_excel('C://Users//Administrator//Documents//code//data//resting_agent//Car_Brand.xlsx', encoding='big5')

In [84]:
#car_df

In [85]:
#car_df.groupby('brand_agg').size()

In [16]:
car_df.columns = ['brand', 'count', 'brand_agg']

In [14]:
print '\xe8\xbb\x8a\xe5\xbb\xa0'

車廠

In [ ]:
x_list = []
for x in car_df['brand_agg'] :
    #print(x)
    if x is np.nan:
        x_list.append(x)
        print(x)
    else :
        x = x.lstrip()
        x_list.append(x)
        print(x)
new_df = pd.DataFrame({'brand_agg':x_list})
car_df.update(new_df)

car_list = []

for index, row_tuple in df.iterrows():
    tmp_list = list(row_tuple)
    for x in car_df.groupby('brand_agg') :
        if tmp_list[11] in x[1]['brand'] :
            CarBrand = x[0]
            tmp_list.append(CarBrand)
        else :
            continue
    car_list.append(tmp_list)

In [20]:
tmp_each_car = []
for index, row_tuple in df.iterrows():
    tmp_list = list(row_tuple)
    tmp_each_car.append(tmp_list)

In [ ]:


    
for x in car_df.groupby('brand_agg') :
    
    for each in tmp_each_car :
        if each[11] in x[1]['brand'] :
            CarBrand = x[0]
            each.append(CarBrand)
        else :
            continue

In [87]:
'''
car_list = []
for each in tmp_each_car :
    each_done = looping_detered_brand(car_df, each, 'brand_agg', 'brand')
    print [x.encode('big5') for x in each_done]
    car_list.append(each_done)
'''

"\ncar_list = []\nfor each in tmp_each_car :\n    each_done = looping_detered_brand(car_df, each, 'brand_agg', 'brand')\n    print [x.encode('big5') for x in each_done]\n    car_list.append(each_done)\n"

In [78]:
def looping_detered_brand(df, element_list, group_col, col_name):
           
    for x in df.groupby(group_col) :
        #while len(element_list) == 24 :
        if element_list[11] in list(x[1][col_name]) :
            CarBrand = x[0]
            element_list.append(CarBrand)
            print 'done'
            break
        else :
            print 'not matched'
            continue
        
        
    return element_list

#####  testing area

In [25]:
origin = ['aaa', 'bbb', 'ccc', 'cc', 'aa']
final = ['a', 'b', 'c', 'c', 'a']

test_df = pd.DataFrame([origin, final])

In [28]:
test_df = test_df.transpose()

In [30]:
test_df.columns = ['origin', 'final']

In [31]:
test_df

  origin final
0    aaa     a
1    bbb     b
2    ccc     c
3     cc     c
4     aa     a

In [36]:
 for j in test_df.groupby('final'):
        print j

('a',   origin final
0    aaa     a
4     aa     a)
('b',   origin final
1    bbb     b)
('c',   origin final
2    ccc     c
3     cc     c)

In [49]:
op_list= [['apple', 'aaa', 30], ['banana', 'bbb', 20], ['carneval', 'ccc', 10]]

In [77]:
op_list

[['apple', 'aaa', 30, 'a'],
 ['banana', 'bbb', 20, 'b'],
 ['carneval', 'ccc', 10, 'c']]

In [64]:
len(op_list[2])

4

In [76]:
for i in op_list :
    fi_li = looping_detered_brand(test_df, i, 'final', 'origin')
    print fi_li

not matched
not matched
not matched
['apple', 'aaa', 30, 'a']
not matched
not matched
not matched
['banana', 'bbb', 20, 'b']
not matched
not matched
not matched
['carneval', 'ccc', 10, 'c']

In [62]:
for i in op_list :
    

    for x in test_df.groupby('final') :
        while len(i) == 3 :
            if i[1] in list(x[1]['origin']) :
                
                CarBrand = x[0]
                i.append(CarBrand)
                #i = i.append(CarBrand)
                print('yes')
                #return op_list[2]
            else :
                print 'not matched'
                break

yes
yes

In [41]:
for x in test_df.groupby('final') :
    print list(x[1]['origin'])

['aaa', 'aa']
['bbb']
['ccc', 'cc']