In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df_Taian = pd.read_csv('C://Users//Administrator//Documents//code//data//SA_advanced//Taian.csv', low_memory=False)
df_Z_N = pd.read_csv('C://Users//Administrator//Documents//code//data//SA_advanced//Zhongli_N.csv', low_memory=False)
df_Z_S = pd.read_csv('C://Users//Administrator//Documents//code//data//SA_advanced//Zhongli_S.csv', low_memory=False)
df_Xihu = pd.read_csv('C://Users//Administrator//Documents//code//data//SA_advanced//Xihu.csv', low_memory=False)
df_Xilou = pd.read_csv('C://Users//Administrator//Documents//code//data//SA_advanced//Xilou.csv', low_memory=False)
df_QingShui = pd.read_csv('C://Users//Administrator//Documents//code//data//SA_advanced//QingShui.csv', low_memory=False)
df_Nantou = pd.read_csv('C://Users//Administrator//Documents//code//data//SA_advanced//Nantou.csv', low_memory=False)
df_Guanxi = pd.read_csv('C://Users//Administrator//Documents//code//data//SA_advanced//Guanxi.csv', low_memory=False)
df_Huko = pd.read_csv('C://Users//Administrator//Documents//code//data//SA_advanced//Huko.csv', low_memory=False)
df_Zhongli = pd.concat([df_Z_N, df_Z_S])

In [3]:
df = pd.concat([df_Taian, df_Xihu, df_Zhongli, df_Xilou, df_QingShui, df_Nantou, df_Guanxi, df_Huko])

In [5]:
df.to_csv('C://Users//Administrator//Documents//code//data//SA_advanced//all.csv', encoding='utf-8')

In [4]:
df['ENTRY_TIME'] = pd.to_datetime(df['ENTRY_TIME'],infer_datetime_format=True)
df['EXIT_TIME'] = pd.to_datetime(df['EXIT_TIME'],infer_datetime_format=True)
df['O_TIME'] = pd.to_datetime(df['O_TIME'],infer_datetime_format=True)
df['D_TIME'] = pd.to_datetime(df['D_TIME'],infer_datetime_format=True)

In [6]:
gnty_df = pd.read_csv('C://Users//Administrator//Documents//code//data//SA_advanced//GANTRY_NAME.csv', low_memory=False)

In [7]:
gnty_cnty_df = pd.read_excel('C://Users//Administrator//Documents//code//data//SA_advanced//GATRY_CITY.xlsx')

In [8]:
def make_clean_gantry(x):
    x = x.strip()
    return x

In [9]:
def split_gantry_in(x) :
    var = x.split('-')[0]
    return var

In [10]:
def split_gantry_out(x) :
    var = x.split('-')[1]
    return var

In [18]:
gnty_cnty_df['GANTRY_ID'] = gnty_cnty_df['GANTRY_ID'].apply(make_clean_gantry)

In [11]:
gnty_df['GANTRY_ID'] = gnty_df['GANTRY_ID'].apply(make_clean_gantry)
gnty_df["in"] = gnty_df['GANTRY_NAME'].apply(split_gantry_in)
gnty_df["out"] = gnty_df['GANTRY_NAME'].apply(split_gantry_out)

In [12]:
# for each SA df, apply to ["O_CITY"]
def define_gantry_location_in(x):
    #location = ''
    for index, gantry in enumerate(gnty_df['GANTRY_ID']):
        if x == gantry :
            location = gnty_df.iloc[index, :]['in']
    return location

In [13]:
# for each SA df, apply to ["D_CITY"]
def define_gantry_location_out(x):
    #location = ''
    for index, gantry in enumerate(gnty_df['GANTRY_ID']):
        if x == gantry :
            location = gnty_df.iloc[index, :]['out']
    return location

In [19]:
# for each SA df, apply to ["O_CITY", "D_CITY"]
def define_gantry_location_country(x):
    #location = ''
    for index, gantry in enumerate(gnty_cnty_df['GANTRY_ID']):
        if x == gantry :
            location = gnty_cnty_df.iloc[index, :]['CODE_NAME']
    return location

In [14]:
df['in_location'] = df['O_CITY'].apply(define_gantry_location_in)
df['out_location'] = df['D_CITY'].apply(define_gantry_location_out)

In [20]:
#df['in_location'] = df['O_CITY'].apply(define_gantry_location_in)
#df['out_location'] = df['D_CITY'].apply(define_gantry_location_out)
df['O_COUNTRY'] = df['O_CITY'].apply(define_gantry_location_country)
df['D_COUNTRY'] = df['D_CITY'].apply(define_gantry_location_country)

In [21]:
df.to_csv('C://Users//Administrator//Documents//code//data//SA_advanced//all_wOD.csv')

In [25]:
df.columns

Index(['SERVICE_AREA', 'BMS_TX_BATCH', 'DIRECTION_ID', 'ENTRY_TIME',
       'EXIT_TIME', 'STOP', 'STOP_DURATION', 'VEHICLE_ID', 'IDENTITY_ID',
       'Gender', 'MVDIS_CATEGORY', 'MANU_YEAR', 'MANU_MONTH', 'VEHICLE_AGE',
       'MVDIS_BRAND', 'BRAND', 'Holiday_cnt', 'WEEKDAY_CNT', 'TX_cnt',
       'T_MILEAGE', 'O_CITY', 'O_TIME', 'O_MILEAGE', 'D_CITY', 'D_TIME',
       'TRIP_DURATION', 'TRIP_DISTANCE', 'ENTRY_SITE', 'EXIT_SITE', 'NAME',
       'in_location', 'out_location', 'O_COUNTRY', 'D_COUNTRY'],
      dtype='object')

In [ ]:
(df.VEHICLE_ID.isin(df[df.STOP == 'P']['VEHICLE_ID'].unique()))

#### all of the cars, car brand

In [26]:
def sorting_car_brand(df) :
    brand_list = []
    categories = [31, 32, 41, 42, 5]
    car_dict = {}
    car_dfs = []
    for car in df['VEHICLE_ID'].unique() :
        
        #brand = pd.DataFrame(df[df.VEHICLE_ID == car].head(1))
        brand = df[df.VEHICLE_ID == car].head(1)
        
        brand_list.append(brand)
    brand_df = pd.concat(brand_list, axis=0)
    
    for category in categories :
        series = brand_df[(brand_df.MVDIS_CATEGORY == category)].groupby("BRAND").size().sort_values(0, ascending=False)[:20]
        tmp_df = pd.DataFrame(series).reset_index()
        car_dict['group_{0}'.format(category)] = tmp_df
        car_dfs.append(car_dict['group_{0}'.format(category)])
    result_df = pd.concat(car_dfs, axis=1)
    
    iterables = [['31', '32', '41', '42', '5'], ['BRAND', 'car_num']]
    col = pd.MultiIndex.from_product(iterables)
    result_df.columns = col
    return result_df

#### into SA, car brand

In [27]:
def sorting_car_brand_inSA(df) :
    
    categories = [31, 32, 41, 42, 5]
    car_dict = {}
    car_dfs = []
    brand_list = []
    for car in df['VEHICLE_ID'].unique() :
        
        #brand = pd.DataFrame(df[df.VEHICLE_ID == car].head(1))
        brand = df[(df.STOP == "P")&(df.VEHICLE_ID == car)].head(1)
        
        brand_list.append(brand)
    brand_df = pd.concat(brand_list, axis=0)
    
    for category in categories :
        series = brand_df[(brand_df.MVDIS_CATEGORY == category)].groupby("BRAND").size().sort_values(0, ascending=False)[:20]
        tmp_df = pd.DataFrame(series).reset_index()
        car_dict['group_{0}'.format(category)] = tmp_df
        car_dfs.append(car_dict['group_{0}'.format(category)])
    result_df = pd.concat(car_dfs, axis=1)
    
    iterables = [['31', '32', '41', '42', '5'], ['BRAND', 'car_num']]
    col = pd.MultiIndex.from_product(iterables)
    result_df.columns = col
    return result_df

In [ ]:
carbrand_in_df = sorting_car_brand_inSA(df)

In [28]:
def sorting_trip(df) :
    SA_name = ["Taian", "Zhongli", "Xihu", "Xilou", "Nantou", "QingShui", "Huko", "Guanxi"]
    SA_Cname = ['泰安', '中壢', '西湖', '西螺', '南投', '清水', '湖口', '關西']
    categories = [31, 32, 41, 42, 5]
    for idx, sa in enumerate(SA_Cname) :  # the first SA
        #writer = pd.ExcelWriter('C://Users//Administrator//Documents//code//data//SA_advanced//analysis_result//{0}_{1}_all_trip.xlsx'.format(sa, category))
        categories_df = {}
        
        for category in categories :
            #writer = pd.ExcelWriter('C://Users//Administrator//Documents//code//data//SA_advanced//analysis_result//{0}_{1}_all_trip.xlsx'.format(sa, category))
            var_dict = {}
            cnt_row = []
            for var in SA_Cname :
                var_dict['v_{0}'.format(var)] = 0
            
            unique_bms = df[(df.SERVICE_AREA == sa)&(df.STOP == 'P')&(df.MVDIS_CATEGORY == category)]['BMS_TX_BATCH'].unique()
            
            first_row = []
            second_row = []
            third_row = []
            col_name = []
            
            for bms in unique_bms :
                series = df[(df.BMS_TX_BATCH == bms)&(df.STOP == 'P')].groupby("SERVICE_AREA").size()
                cnt_df = pd.DataFrame(series).reset_index()
                length = cnt_df.shape[0]
                for p_name in [x for index, x in enumerate(SA_Cname) if index != idx] : # this list won't have the first SA itself 
                    for idx_cnt, i in cnt_df.iterrows():
                        if i.SERVICE_AREA == p_name :
                            var_dict["v_{0}".format(p_name)] = var_dict["v_{0}".format(p_name)] + i[0]
            # trip grouping start here
            #bms_df = df[(df.BMS_TX_BATCH.isin(unique_bms))]
            for sa2 in [x for index, x in enumerate(SA_Cname) if index != idx] : # sa2 should be the same with p_name
                col_name.append(sa2)
                select_vID = df[(df.BMS_TX_BATCH.isin(unique_bms))&(df.SERVICE_AREA == sa2)&(df.STOP == 'P')]['VEHICLE_ID'].unique()
                trip_series = df[df.VEHICLE_ID.isin(select_vID)].groupby(['in_location', 'out_location']).size().sort_values(0, ascending=False)[:3]
                trip_df = pd.DataFrame(trip_series).reset_index()
                
                for idx_trip, place in trip_df.iterrows():
                    place_string = "{0}-{1}".format(place['in_location'], place['out_location'])
                    trip_dict['{0}_place'.format(idx_trip)] = place_string
                    if idx_trip == 0 :
                        first_row.append(trip_dict['{0}_place'.format(idx_trip)])
                    elif idx_trip == 1 :
                        second_row.append(trip_dict['{0}_place'.format(idx_trip)])
                    elif idx_trip == 2 :
                        third_row.append(trip_dict['{0}_place'.format(idx_trip)])
                # collect the variables of car counting
                cnt_row.append(var_dict['v_{0}'.format(sa2)])
            result_df =  pd.DataFrame([cnt_row, first_row, second_row, third_row], columns = col_name)    
            categories_df['{0}_{1}'.format(sa, category)] = result_df
            
            writer = pd.ExcelWriter('C://Users//Administrator//Documents//code//data//SA_advanced//analysis_result//{0}_{1}_all_trip.xlsx'.format(sa, category))
            categories_df['{0}_{1}'.format(sa, category)].to_excel(writer,'{0}_{1}_trip'.format(sa, category)) 
            writer.save()
        # saving excel
        #writer = pd.ExcelWriter('C://Users//Administrator//Documents//code//data//SA_advanced//analysis_result//{0}_{1}_all_trip.xlsx'.format(sa, category))
        #writer.save()

In [ ]:
# 1: running start on 0724 maybe at 1:45 PM (behaving normal when I get out the office)
# 2: running start on 0725 maybe at 9:45 AM
sorting_trip(df)

In [104]:
dff1 = df.head(3000000)

In [105]:
unique_bms = dff1[(dff1.SERVICE_AREA =='泰安')&(dff1.STOP == 'P')&(dff1.MVDIS_CATEGORY == 31)]['BMS_TX_BATCH'].unique()
select_vID = dff1[(dff1.BMS_TX_BATCH.isin(unique_bms))&(dff1.SERVICE_AREA == '中壢')&(dff1.STOP == 'P')]['VEHICLE_ID'].unique()

In [108]:
type(dff1[dff1.VEHICLE_ID.isin(select_vID)].groupby(['in_location', 'out_location']).size().sort_values(0, ascending=False)[:3])

pandas.core.series.Series

In [109]:
#tmp_df = pd.DataFrame(series).reset_index().drop([0], axis=1)  
series_test = dff1[dff1.VEHICLE_ID.isin(select_vID)].groupby(['in_location', 'out_location']).size().sort_values(0, ascending=False)[:3]
s_df = pd.DataFrame(series_test).reset_index()

In [111]:
s_df['in_location']

0    圓山(建國北路)
1    林口(文化北路)
2    圓山(建國北路)
Name: in_location, dtype: object

In [89]:
unique_bms_1 = df[(df.SERVICE_AREA == '泰安')&(df.STOP == 'P')&(df.MVDIS_CATEGORY == 31)]['BMS_TX_BATCH'].unique()

In [90]:
unique_bms_1[0]

1805240002310638579

In [91]:
df[(df.BMS_TX_BATCH == 1805240002310638579)&(df.STOP =='P')]

,SERVICE_AREA,BMS_TX_BATCH,DIRECTION_ID,ENTRY_TIME,EXIT_TIME,STOP,STOP_DURATION,VEHICLE_ID,IDENTITY_ID,Gender,...,O_MILEAGE,D_CITY,D_TIME,TRIP_DURATION,TRIP_DISTANCE,ENTRY_SITE,EXIT_SITE,NAME,in_location,out_location
14,泰安,1805240002310638579,S,2018-05-24 10:04:15.407,2018-05-24 10:13:22.197,P,9,12666124,E,男,...,103.4,01F2089S,2018-05-24 10:41:30.037,103,148.7,01F1572S,01F1621S,NaN,內壢,員林
518490,湖口,1805240002310638579,S,2018-05-24 09:13:02.290,2018-05-24 09:23:07.603,P,10,12666124,E,男,...,26.5,01F2089S,2018-05-24 10:41:30.037,103,153.4,01F0750S,01F0880S,NaN,內壢,員林

In [86]:
SA_name = ["Taian", "Zhongli", "Xihu", "Xilou", "Nantou", "QingShui", "Huko", "Guanxi"]
SA_Cname = ['泰安', '中壢', '西湖', '西螺', '南投', '清水', '湖口', '關西']
categories = [31, 32, 41, 42, 5]
for idx, sa in enumerate(SA_Cname) :
    ll = [y for index, y in enumerate(SA_Cname) if index != idx]
    print(ll)

['中壢', '西湖', '西螺', '南投', '清水', '湖口', '關西']
['泰安', '西湖', '西螺', '南投', '清水', '湖口', '關西']
['泰安', '中壢', '西螺', '南投', '清水', '湖口', '關西']
['泰安', '中壢', '西湖', '南投', '清水', '湖口', '關西']
['泰安', '中壢', '西湖', '西螺', '清水', '湖口', '關西']
['泰安', '中壢', '西湖', '西螺', '南投', '湖口', '關西']
['泰安', '中壢', '西湖', '西螺', '南投', '清水', '關西']
['泰安', '中壢', '西湖', '西螺', '南投', '清水', '湖口']

In [35]:
df[df.BMS_TX_BATCH.isin(df['BMS_TX_BATCH'].unique())]

,SERVICE_AREA,BMS_TX_BATCH,DIRECTION_ID,ENTRY_TIME,EXIT_TIME,STOP,STOP_DURATION,VEHICLE_ID,IDENTITY_ID,Gender,...,O_MILEAGE,D_CITY,D_TIME,TRIP_DURATION,TRIP_DISTANCE,ENTRY_SITE,EXIT_SITE,NAME,in_location,out_location
0,泰安,1805220002307810711,S,2018-05-22 09:35:57.793,2018-05-22 09:38:49.513,T,3,10287644,E,女,...,10.5,01F1664S,2018-05-22 09:41:35.427,6,17.7,01F1572S,01F1621S,NaN,三義,豐原
1,泰安,1805220002307741856,S,2018-05-22 09:35:47.530,2018-05-22 09:38:53.870,T,3,2359950,E,男,...,39.8,01F2394S,2018-05-22 10:56:45.817,110,114.7,01F1572S,01F1621S,NaN,頭份,斗南(158縣道)
2,泰安,1805220002307715213,S,2018-05-22 09:26:29.710,2018-05-22 09:29:24.643,T,3,1291031,E,男,...,71.7,01F1621S,2018-05-22 09:29:24.643,43,76.4,01F1572S,01F1621S,NaN,竹林,台中系統(連接國4)
3,泰安,1805220002307812459,S,2018-05-22 09:36:04.497,2018-05-22 09:39:00.967,T,3,913797,E,男,...,10.5,01F1725S,2018-05-22 09:45:22.653,9,23.9,01F1572S,01F1621S,NaN,三義,大雅
4,泰安,1805220002307181364,S,2018-05-22 09:36:27.147,2018-05-22 09:39:43.827,T,3,8193955,E,非自然人,...,108.4,01F1774S,2018-05-22 09:50:22.700,83,121.5,01F1572S,01F1621S,統聯汽車客運股份有限公司,機場系統(連接國2),台中(台灣大道)
5,泰安,1805220002307303887,S,2018-05-22 09:36:32.957,2018-05-22 09:39:53.047,T,3,11334686,E,非自然人,...,119.5,03F2129S,2018-05-22 10:14:04.480,129,169.0,01F1572S,01F1621S,萬泰通運有限公司,土城(連接台65),台74)
6,泰安,1805220002307314184,S,2018-05-22 09:36:40.880,2018-05-22 09:39:56.590,T,3,6058072,E,非自然人,...,64.1,01F1774S,2018-05-22 09:49:56.720,52,81.9,01F1572S,01F1621S,國光汽車客運股份有限公司,新竹(科學園區),台中(台灣大道)
7,泰安,1805220002307677300,S,2018-05-22 09:36:27.760,2018-05-22 09:39:20.840,T,3,14028676,E,男,...,93.7,01F1621S,2018-05-22 09:39:20.840,57,98.4,01F1572S,01F1621S,NaN,龍潭,台中系統(連接國4)
8,泰安,1805220002307569783,S,2018-05-22 09:36:34.440,2018-05-22 09:39:22.413,T,3,3125350,E,女,...,119.5,01F1802S,2018-05-22 09:50:15.727,102,140.1,01F1572S,01F1621S,NaN,土城(連接台65),南屯
9,泰安,1805220002307689310,S,2018-05-22 09:36:37.463,2018-05-22 09:39:36.230,T,3,7269725,E,男,...,20.5,01F1621S,2018-05-22 09:39:36.230,10,25.2,01F1572S,01F1621S,NaN,銅鑼,台中系統(連接國4)
10,泰安,1805220002307633060,S,2018-05-22 09:36:40.310,2018-05-22 09:39:38.147,T,3,12257674,E,男,...,118.5,01F1725S,2018-05-22 09:46:12.423,79,127.2,01F1572S,01F1621S,NaN,林口(文化北路),大雅
11,泰安,1805220002307682189,S,2018-05-22 09:27:38.760,2018-05-22 09:30:21.143,T,3,13012091,N,男,...,81.0,01F2603S,2018-05-22 10:31:19.877,117,179.6,01F1572S,01F1621S,NaN,楊梅,嘉義
12,泰安,1805220002307728060,S,2018-05-22 09:37:16.900,2018-05-22 09:40:03.453,T,3,9526936,E,女,...,69.6,01F1802S,2018-05-22 09:50:21.677,50,85.5,01F1572S,01F1621S,NaN,竹北,南屯
13,泰安,1805240002310654394,S,2018-05-24 10:20:08.663,2018-05-24 10:22:49.173,T,2,14430090,E,女,...,108.5,01F1725S,2018-05-24 10:32:15.280,77,117.2,01F1572S,01F1621S,NaN,機場系統(連接國2),大雅
14,泰安,1805240002310638579,S,2018-05-24 10:04:15.407,2018-05-24 10:13:22.197,P,9,12666124,E,男,...,103.4,01F2089S,2018-05-24 10:41:30.037,103,148.7,01F1572S,01F1621S,NaN,內壢,員林
15,泰安,1805240002309973067,S,2018-05-24 10:20:13.373,2018-05-24 10:23:10.287,T,3,10829565,E,非自然人,...,127.6,01F3640S,2018-05-24 12:43:15.220,227,328.7,01F1572S,01F1621S,阿羅哈客運股份有限公司,五股,高雄(九如、建國路)
16,泰安,1805240002310773290,S,2018-05-24 10:20:42.097,2018-05-24 10:23:26.753,T,3,1902871,E,女,...,27.8,01F1774S,2018-05-24 10:35:32.847,25,45.6,01F1572S,01F1621S,NaN,苗栗,台中(台灣大道)
17,泰安,1805240002310608061,S,2018-05-24 10:20:53.923,2018-05-24 10:23:29.997,T,3,12331280,E,女,...,137.6,01F1725S,2018-05-24 10:32:29.770,96,146.3,01F1572S,01F1621S,NaN,圓山(建國北路),大雅
18,泰安,1805240002309969247,S,2018-05-24 03:18:47.337,2018-05-24 10:23:00.417,T,425,10422896,E,非自然人,...,123.2,01F2603S,2018-05-24 11:24:18.203,559,221.8,01F1572S,01F1621S,佶成通運有限公司,三重,嘉義
19,泰安,1805240002310791849,S,2018-05-24 10:20:25.550,2018-05-24 10:23:20.220,T,3,9718244,E,女,...,10.5,01F1774S,2018-05-24 10:35:35.250,15,28.3,01F1572S,01F1621S,NaN,三義,台中(台灣大道)
20,泰安,1805240002310525900,S,2018-05-24 10:20:29.660,2018-05-24 10:23:21.777,T,3,2110452,E,非自然人,...,135.3,01F1774S,2018-05-24 10:36:07.417,128,153.1,01F1572S,01F1621S,鑫格實業有限公司,東湖,台中(台灣大道)
21,泰安,1805240002310612737,S,2018-05-24 10:20:47.190,2018-05-24 10:23:24.283,T,3,7876907,E,男,...,135.0,01F2514S,2018-05-24 11:16:06.883,138,231.2,01F1572S,01F1621S,NaN,環北,民雄
22,泰安,1805240002310680506,S,2018-05-24 10:21:06.380,2018-05-24 10:23:32.450,T,2,11017030,E,非自然人,...,81.0,01F1664S,2018-05-24 10:25:57.100,59,83.5,01F1572S,01F1621S,格上汽車租賃(股)公司桃園分公司,楊梅,豐原
23,泰安,1805240002310100347,S,2018-05-24 10:21:08.207,2018-05-24 10:23:58.440,T,2,13989347,E,女,...,76.9,01F1725S,2018-05-24 10:33:50.203,66,90.3,01F1572S,01F1621S,NaN,湖口,大雅
24,泰安,1805240002310667066,S,2018-05-24 10:20:57.233,2018-05-24 10:23:35.883,T,3,14925315,E,男,...,107.6,01F1725S,2018-05-24 10:33:35.280,73,116.3,01F1572S,01F1621S,NaN,鶯歌系統(連接國2),大雅
25,泰安,1805240002310299530,S,2018-05-24 09:49:20.950,2018-05-24 10:23:34.330,P,34,3512169,E,男,...,135.0,01F1725S,2018-05-24 10:32:39.707,127,143.7,01F1572S,01F1621S,NaN,環北,大雅
26,泰安,1805240002310676286,S,2018-05-24 09:58:35.983,2018-05-24 10:23:37.633,P,25,12586212,E,女,...,64.1,01F1725S,2018-05-24 10:32:27.890,68,72.8,01F1572S,01F1621S,NaN,新竹(科學園區),大雅
27,泰安,1805240002310775896,S,2018-05-24 10:21:25.763,2018-05-24 10:23:44.973,T,2,12985198,E,非自然人,...,27.8,01F1664S,2018-05-24 10:26:00.847,15,35.0,01F1572S,01F1621S,和運租車股份有限公司,苗栗,豐原
28,泰安,1805240002310667351,S,2018-05-24 10:20:49.513,2018-05-24 10:23:46.020,T,3,14468166,E,非自然人,...,100.8,03F2415S,2018-05-24 11:24:11.907,124,179.8,01F1572S,01F1621S,和運租車股份有限公司,三鶯,竹山
29,泰安,1805240002310456969,S,2018-05-24 10:11:32.693,2018-05-24 10:14:16.850,T,3,6174391,N,女,...,146.5,01F1725S,2018-05-24 10:21:58.597,109,159.9,01F1572S,01F1621S,NaN,台北端,大雅
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885932,湖口,1805260002313073556,S,2018-05-26 23:49:48.680,2018-05-26 23:56:34.043,T,7,4413069,E,男,...,14.6,01F0880S,2018-05-26 23:56:34.043,9,21.9,01F0750S,01F0880S,NaN,楊梅,竹北
885933,湖口,1805260002314568385,S,2018-05-26 23:40:04.157,2018-05-26 23:56:36.417,P,16,13380330,E,男,...,47.9,01F0928S,2018-05-26 23:59:24.353,51,50.9,01F0750S,01F0880S,NaN,圓山(建國北路),新竹(光復路)
885934,湖口,1805260002314303089,S,2018-05-26 23:49:05.540,2018-05-26 23:56:47.547,T,7,14545809,E,男,...,21.4,01F0928S,2018-05-26 23:59:36.747,17,31.7,01F0750S,01F0880S,NaN,中壢,新竹(光復路)
885935,湖口,1805260002314146834,S,2018-05-26 23:49:32.847,2018-05-26 23:56:51.127,T,7,12517475,E,非自然人,...,31.5,01F0928S,2018-05-26 23:59:39.537,20,34.5,01F0750S,01F0880S,聯達小客車租賃有限公司,機場系統(連接國2),新竹(光復路)
885936,湖口,1805260002314504667,S,2018-05-26 23:49:09.613,2018-05-26 23:56:57.223,T,7,7219236,E,女,...,47.9,01F0928S,2018-05-26 23:59:53.737,42,58.2,01F0750S,01F0880S,NaN,圓山(建國北路),新竹(光復路)
885937,湖口,1805260002314562706,S,2018-05-26 23:39:36.300,2018-05-26 23:47:39.740,P,8,15686538,N,男,...,8.6,01F0880S,2018-05-26 23:47:39.740,15,15.9,01F0750S,01F0880S,NaN,中壢,竹北
885938,湖口,1805260002313248468,S,2018-05-26 23:49:29.057,2018-05-26 23:57:03.687,P,8,8262217,E,女,...,58.1,01F0880S,2018-05-26 23:57:03.687,35,65.4,01F0750S,01F0880S,NaN,環北,竹北
885939,湖口,1805260002314060467,S,2018-05-26 23:49:49.457,2018-05-26 23:57:27.917,P,8,14949878,E,女,...,65.1,01F0880S,2018-05-26 23:57:27.917,42,72.4,01F0750S,01F0880S,NaN,堤頂,竹北
885940,湖口,1805260002313026779,S,2018-05-26 23:50:14.787,2018-05-26 23:57:49.137,T,7,6083110,E,非自然人,...,31.6,01F0880S,2018-05-26 23:57:49.137,18,38.9,01F0750S,01F0880S,建明汽車客運股份有限公司,機場系統(連接國2),竹北
885941,湖口,1805260002314182106,S,2018-05-26 23:51:11.000,2018-05-26 23:57:49.587,T,6,602040,E,女,...,34.7,01F0880S,2018-05-26 23:57:49.587,19,42.0,01F0750S,01F0880S,NaN,桃園,竹北
885942,湖口,1805260002314571860,S,2018-05-26 23:50:13.077,2018-05-26 23:57:50.917,T,7,2266480,E,非自然人,...,58.1,01F0880S,2018-05-26 23:57:50.917,34,65.4,01F0750S,01F0880S,七霞電影有限公司,環北,竹北
885943,湖口,1805260002314331757,S,2018-05-26 23:50:26.327,2018-05-26 23:57:59.013,T,7,14105404,E,女,...,50.7,01F0880S,2018-05-26 23:57:59.013,31,58.0,01F0750S,01F0880S,NaN,五股,竹北
885944,湖口,1805260002313040736,S,2018-05-26 23:40:29.677,2018-05-26 23:47:45.753,T,7,14335016,E,男,...,18.7,01F0880S,2018-05-26 23:47:45.753,16,26.0,01F0750S,01F0880S,NaN,機場系統(連接國2),竹北
885945,湖口,1805260002313083737,S,2018-05-26 23:41:14.813,2018-05-26 23:48:16.287,T,7,8183042,N,男,...,34.8,01F0880S,2018-05-26 23:48:16.287,21,42.1,01F0750S,01F0880S,NaN,桃園,竹北
885946,湖口,1805260002314570590,S,2018-05-26 23:40:05.067,2018-05-26 23:48:07.013,P,8,15808468,N,男,...,60.9,01F1045S,2018-05-26 23:58:52.453,50,87.5,01F0750S,01F0880S,NaN,圓山(建國北路),頭份
885947,湖口,1805260002313534916,S,2018-05-26 23:51:01.833,2018-05-26 23:58:06.380,T,7,536666,E,男,...,60.9,01F0880S,2018-05-26 23:58:06.380,37,68.2,01F0750S,01F0880S,NaN,圓山(建國北路),竹北
885948,湖口,1805260002313218501,S,2018-05-26 23:51:29.303,2018-05-26 23:58:23.937,T,7,12491245,E,非自然人,...,18.7,01F0880S,2018-05-26 23:58:23.937,16,26.0,01F0750S,01F0880S,進達小客車租賃有限公司,機場系統(連接國2),竹北
885949,湖口,1805260002314382418,S,2018-05-26 23:51:44.100,2018-05-26 23:58:36.043,T,7,1420785,E,男,...,55.8,01F0880S,2018-05-26 23:58:36.043,51,63.1,01F0750S,01F0880S,NaN,圓山(建國北路),竹北
885950,湖口,1805260002314265790,S,2018-05-26 21:46:07.907,2018-05-26 23:58:39.557,T,132,13220615,E,女,...,26.4,01F0880S,2018-05-26 23:58:39.557,143,33.7,01F0750S,01F0880S,NaN,內壢,竹北
885951,湖口,1805260002313997135,S,2018-05-26 23:50:51.873,2018-05-26 23:58:47.723,P,8,8354616,E,男,...,45.5,01F0880S,2018-05-26 23:58:47.723,36,52.8,01F0750S,01F0880S,NaN,環北,竹北
885952,湖口,1805260002314311219,S,2018-05-26 23:41:37.367,2018-05-26 23:48:52.410,T,7,15477434,N,非自然人,...,31.6,01F0880S,2018-05-26 23:48:52.410,20,38.9,01F0750S,01F0880S,華,中壢,竹北
885953,湖口,1805260002313039342,S,2018-05-26 23:50:14.153,2018-05-26 23:59:14.157,P,9,10262868,E,非自然人,...,18.8,01F0880S,2018-05-26 23:59:14.157,15,26.1,01F0750S,01F0880S,南捷交通有限公司,平鎮系統(連接台66),竹北
885954,湖口,1805260002313023392,S,2018-05-26 23:52:08.457,2018-05-26 23:59:32.347,T,7,6092443,E,非自然人,...,31.6,01F0880S,2018-05-26 23:59:32.347,20,38.9,01F0750S,01F0880S,萬生科技農業股份有限公司,機場系統(連接國2),竹北
885955,湖口,1805260002313061364,S,2018-05-26 23:50:58.513,2018-05-26 23:59:37.423,P,9,7826205,E,非自然人,...,45.3,01F0880S,2018-05-26 23:59:37.423,38,52.6,01F0750S,01F0880S,統聯汽車客運股份有限公司,環北,竹北
885956,湖口,1805260002314186673,S,2018-05-26 23:52:20.233,2018-05-26 23:59:53.287,T,7,13894113,E,女,...,31.5,01F0880S,2018-05-26 23:59:53.287,18,38.8,01F0750S,01F0880S,NaN,機場系統(連接國2),竹北
885957,湖口,1805260002314241125,S,2018-05-26 23:52:32.263,2018-05-26 23:59:53.667,T,7,12910297,E,男,...,60.7,01F0880S,2018-05-26 23:59:53.667,37,68.0,01F0750S,01F0880S,NaN,圓山(建國北路),竹北
885958,湖口,1805260002314355880,S,2018-05-26 23:27:42.280,2018-05-26 23:50:33.887,P,23,2230692,E,男,...,58.1,01F0928S,2018-05-26 23:53:55.587,55,61.1,01F0750S,01F0880S,NaN,環北,新竹(光復路)
885959,湖口,1805260002313070455,S,2018-05-26 23:44:47.787,2018-05-26 23:52:44.250,P,8,8276204,E,非自然人,...,47.9,01F0928S,2018-05-26 23:55:59.463,42,50.9,01F0750S,01F0880S,連億工程有限公司,圓山(建國北路),新竹(光復路)
885960,湖口,1805260002314570576,S,2018-05-26 23:45:54.730,2018-05-26 23:52:46.403,T,7,9331216,E,女,...,52.2,01F0928S,2018-05-26 23:55:16.237,47,62.5,01F0750S,01F0880S,NaN,堤頂,新竹(光復路)
885961,湖口,1805260002314149055,S,2018-05-26 23:46:11.043,2018-05-26 23:52:28.403,T,6,15737942,N,男,...,60.7,01F0928S,2018-05-26 23:55:04.147,35,63.7,01F0750S,01F0880S,NaN,圓山(建國北路),新竹(光復路)

In [69]:
df_Zhongli.groupby('STOP').size()

STOP
P     20169
T    802302
dtype: int64

In [88]:
df[(df.BMS_TX_BATCH == 1805240002310638579)&(df.STOP =='P')]

,SERVICE_AREA,BMS_TX_BATCH,DIRECTION_ID,ENTRY_TIME,EXIT_TIME,STOP,STOP_DURATION,VEHICLE_ID,IDENTITY_ID,Gender,...,O_MILEAGE,D_CITY,D_TIME,TRIP_DURATION,TRIP_DISTANCE,ENTRY_SITE,EXIT_SITE,NAME,in_location,out_location
14,泰安,1805240002310638579,S,2018-05-24 10:04:15.407,2018-05-24 10:13:22.197,P,9,12666124,E,男,...,103.4,01F2089S,2018-05-24 10:41:30.037,103,148.7,01F1572S,01F1621S,NaN,內壢,員林
518490,湖口,1805240002310638579,S,2018-05-24 09:13:02.290,2018-05-24 09:23:07.603,P,10,12666124,E,男,...,26.5,01F2089S,2018-05-24 10:41:30.037,103,153.4,01F0750S,01F0880S,NaN,內壢,員林

In [77]:
ss = df[(df.BMS_TX_BATCH == 1805240002310638579)&(df.STOP =='P')].groupby("SERVICE_AREA").size()

In [99]:
pd.DataFrame(df[(df.BMS_TX_BATCH == 1805240002310638579)&(df.STOP =='P')].groupby(["in_location", "out_location"]).size()).reset_index()['in_location']

0    內壢
Name: in_location, dtype: object

In [79]:
pd.DataFrame(ss).reset_index()

(2, 2)

In [94]:
for idx, i in pd.DataFrame(ss).reset_index().iterrows():
    print(i.SERVICE_AREA, i[0])

泰安 1
湖口 1

In [72]:
df[(df.SERVICE_AREA == '泰安')&(df.STOP == 'P')]['BMS_TX_BATCH'].unique()

array([1805240002310638579, 1805240002310299530, 1805240002310676286, ...,
       1805270002315944918, 1805260002313027664, 1805260002313634870],
      dtype=int64)

In [19]:
import sys

# These are the usual ipython objects, including this one you are creating
ipython_vars = ['In', 'Out', 'exit', 'quit', 'get_ipython', 'ipython_vars']

# Get a sorted list of the objects and their sizes
sorted([(x, sys.getsizeof(globals().get(x))) for x in dir() if not x.startswith('_') and x not in sys.modules and x not in ipython_vars], key=lambda x: x[1], reverse=True)

[('df', 5353367782),
 ('df_Zhongli', 1438690426),
 ('df_Huko', 1109981426),
 ('df_Taian', 775577090),
 ('df_Z_N', 729733304),
 ('df_Z_S', 699828410),
 ('df_QingShui', 634618047),
 ('df_Xihu', 587463328),
 ('df_Nantou', 553695737),
 ('df_Guanxi', 352333599),
 ('df_Xilou', 352333599),
 ('gnty_df', 119029),
 ('define_gantry_location_in', 136),
 ('define_gantry_location_out', 136),
 ('make_clean_gantry', 136),
 ('sorting_car_brand', 136),
 ('sorting_car_brand_inSA', 136),
 ('sorting_trip', 136),
 ('split_gantry_in', 136),
 ('split_gantry_out', 136),
 ('pd', 80)]