In [16]:
import peewee
import pymysql

db = peewee.MySQLDatabase('db_test',
                          user='root',
                          host='localhost',
                          password='root5438',
                          port=3306)

In [18]:
#db.get_columns('travel_yilan')

In [19]:
class travel_yilan(peewee.Model):
    
    VEHICLE_ID = peewee.IntegerField()
    D1_O_Time = peewee.CharField()
    D1_O = peewee.CharField()
    D1_D_Time = peewee.CharField()
    D1_D = peewee.CharField()
    D2_O_Time = peewee.CharField()
    D2_O = peewee.CharField()
    D2_D_Time = peewee.CharField()
    D2_D = peewee.CharField()
    D3_O_Time = peewee.CharField()
    D3_O = peewee.CharField()
    D3_D_Time = peewee.CharField()
    D3_D = peewee.CharField()
    D4_O_Time = peewee.CharField()
    D4_O = peewee.CharField()
    D4_D_Time = peewee.CharField()
    D4_D = peewee.CharField()
    
    
    
    class Meta:
        database = db

In [21]:
try :
    

    table_dict = ({'VEHICLE_ID': value_lists[i][1],
                   'D1_O_Time': value_lists[i][2],
                   'D1_O': value_lists[i][3],
                   'D1_D_Time': value_lists[i][4],
                   'D1_D': value_lists[i][5],
                   'D2_O_Time': value_lists[i][6],
                   'D2_O': value_lists[i][7],
                   'D2_D_Time': value_lists[i][8],
                   'D2_D': value_lists[i][9],
                   'D3_O_Time': value_lists[i][10],
                   'D3_O': value_lists[i][11],
                   'D3_D_Time': value_lists[i][12],
                   'D3_D': value_lists[i][13],
                   'D4_O_Time': value_lists[i][14],
                   'D4_O': value_lists[i][15],
                   'D4_D_Time': value_lists[i][16],
                   'D4_D': value_lists[i][17]

                  } for i in range(len(value_lists)))

    with db.atomic():
        travel_yilan.insert_many(table_dict).execute()
        
except Exception as e :
    print e

(0, '')

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('C://Users//Administrator//Documents//code//data//DTP_D4//20170811_20170814_TravelData_csv.csv', na_filter= False)

In [6]:
df.columns = ['index', 'VEHICLE_ID', 'D1_O_Time', 'D1_O', 'D1_D_Time', 'D1_D', 'D2_O_Time', 'D2_O', 'D2_D_Time', 'D2_D', 'D3_O_Time', 'D3_O', 'D3_D_Time','D3_D', 'D4_O_Time', 'D4_O', 'D4_D_Time', 'D4_D']

In [17]:
#df

In [7]:
rows = []
for i in df.iterrows() :
    one_row = list(i)
    listed_row = list(one_row[1])
    
    rows.append(listed_row)

In [8]:
value_lists = rows

In [9]:
type(value_lists[1][1])

long