### Loading Data

In [1]:
import pandas as pd

In [16]:
df = pd.read_csv('C://Users//Administrator//Documents//code//data//DTP_D4//CarBrand_data//NISSAN.csv', na_filter=False, encoding = 'utf-8', low_memory=False)

In [1]:
#df.head()

###  Connect to SQL

In [59]:
import peewee
import pymysql

db = peewee.MySQLDatabase('db_test',
                          user='root',
                          host='localhost',
                          password='root5438',
                          port=3306)

In [ ]:
import pymysql.cursors
import codecs

try :
    with db.cursor() as cursor:
            # Read a single record
            sql = "SELECT * FROM group4data_trial_2 "
            cursor.execute(sql)
            result = cursor.fetchall()
            print(result)
finally:
    db.close()

In [ ]:
class brand_mazda(peewee.Model):
    VEHICLE_ID = peewee.IntegerField()
    Brand = peewee.CharField()
    MVDIS_BRAND = peewee.CharField()
    MVDIS_MANUFACTURE_YM = peewee.CharField()
    Manu_YYYY = peewee.CharField()
    Manu_MM = peewee.CharField()
    agesY_by_month = peewee.FloatField()
    rest_month = peewee.FloatField()
    total_month = peewee.FloatField()
    
   
    
    class Meta:
        database = db

In [ ]:
while True :

    try :


        table_dict = ({'VEHICLE_ID': value_lists[i][0],
                       'Brand': value_lists[i][1],
                       'MVDIS_BRAND': value_lists[i][2],
                       'MVDIS_MANUFACTURE_YM': value_lists[i][3],
                       'Manu_YYYY': value_lists[i][4],
                       'Manu_MM': value_lists[i][5],
                       'agesY_by_month': value_lists[i][6],
                       'rest_month': value_lists[i][7],
                       'total_month': value_lists[i][8]                            
                      } for i in range(len(value_lists)))

        with db.atomic():
            brand_mazda.insert_many(table_dict).execute()

    except : 
        continue

###  Process Data - using Python

#### iterrows() in pandas performs slowly, not a good choice

In [7]:
#df['Manu_YYYY']
#df['Manu_MM']

for each_row in df.iterrows():
    records = list(list(each_row)[1])
    #print(records)
    
    try :
        ages_by_month = ((2018 - float(records[4]) )*12 - float(records[5]) + 3)//12
        #print(ages_by_month)
        rest_month =   ((2018 - float(records[4]) )*12 - float(records[5]) + 3) % 12
        #print(rest_month)
        total_month = ((2018 - float(records[4]) )*12 - float(records[5]) + 3)
        #print(total_month)
        records.append(ages_by_month)
        records.append(rest_month)
        records.append(total_month)
    except :
        #print(records)
        continue
    
    df['agesY_by_month'] = records[6]
    df['rest_month'] = records[7]
    df['total_month'] = records[8]

NameError: name 'df' is not defined

#### try using df.apply() with function, check if it's faster

In [5]:
def calculate_ages_by_month(df_row):
    
    if df_row[4] == 'NULL' and df_row[5] == 'NULL' :
        print(df_row)
        return 0
    elif df_row[5] == '' :
        ages_by_month = (2018 - float(df_row[4]) )
        return ages_by_month
        
    else :
         
        ages_by_month = ((2018 - float(df_row[4]) )*12 - float(df_row[5]) + 3)//12
        return ages_by_month

In [6]:
def calculate_rest_month(df_row):
    
    if df_row[4] == 'NULL' and df_row[5] == 'NULL' :
        print(df_row)
        return 0
    elif df_row[5] == '' :
        rest_month = (2018 - float(df_row[4]) )//12
        return rest_month
        
    else :
        rest_month = ((2018 - float(df_row[4]) )*12 - float(df_row[5]) + 3) % 12
        return rest_month

In [7]:
def calculate_total_month(df_row):
    
    if df_row[4] == 'NULL' and df_row[5] == 'NULL' :
        print(df_row)
        return 0
    elif df_row[5] == '' :
        total_month = (2018 - float(df_row[4]) )*12 + 3
        return total_month
        
    else :
        total_month = ((2018 - float(df_row[4]) )*12 - float(df_row[5]) + 3)
        return total_month

In [6]:
#df['ages_by_month'] = df.apply(calculate_ages_by_month, axis = 1)

In [5]:
#df['rest_month'] = df.apply(calculate_rest_month, axis = 1)

In [4]:
#df['total_month'] = df.apply(calculate_total_month, axis = 1)

In [3]:
#df

In [15]:
columns = ['VEHICLE_ID', 'Brand', 'MVDIS_BRAND', 'MVDIS_MANUFACTURE_YM', 'Manu_YYYY', 'Manu_MM', 'ages_by_month', 'rest_month', 'total_month']
df.to_csv('C://Users//Administrator//Documents//code//data//DTP_D4//CarBrand_data//with_ages//MITSUBISHI_ages.csv', columns = columns , index=False , header = True,sep=',',encoding='utf-8')

In [78]:
value_lists = rows

In [13]:
rows = []
for i in df.iterrows() :
    one_row = list(i)
    listed_row = list(one_row[1])
    
    rows.append(listed_row)

In [2]:
#value_lists